<template>
  <div class="container">
    <h2>Realtime Roles</h2>
    <div class="row">
      <div class="col-sm-12 mb-3">
        <form action="/roles" method="POST">

          <input type="hidden" name="_token" :value="csrf">

          <div class="form-group">
            <label for="user_id">User ID</label>
            <select class="form-control" id="user_id" v-model="user_id" name="user_id">
              <option v-for="user in users" :value="user.id" :key="user.id">{{ user.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="role_name">Role</label>
            <select class="form-control" id="role_name" v-model="role_name" name="role_name">
              <option value="ReadOnly">ReadOnly</option>
              <option value="Agent">Agent</option>
              <option value="Admin">Admin</option>
              <option value="SuperUser">SuperUser</option>
            </select>
          </div>
          <button type="submit" @click.prevent="createRole" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-sm-12">
        <div v-for="role in roles" class="card p-4 mb-2" :key="role.id">
          <h3>{{ role.name }}</h3>
          <p>{{ role.user.name }}</p>
          <p>{{ role.user.email }}</p>
          <button @click="deleteRole(role.id)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      csrf: null,
      roles: [],
      users: [],
      user_id: null,
      user_name: null,
      role_name: null,
      events: []
    }
  },
  created() {
    this.getRoles()
  },
  mounted(){
    this.csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content')

    Echo.join(`myData`)
    .listen('NewRole', (event) => {
      console.log(event.role)
      this.getRoles();
    });
  },
  methods: {
    async getRoles() {
      fetch('/roles')
      .then(res => res.json())
      .then(data => {
        console.log(data)
        this.roles = data.roles;
        this.users = data.users;
      })
      .catch(err => console.log(err))
    },

    async createRole() {
      const params = {
        user_id: this.user_id,
        name: this.role_name
      }

      fetch('/api/v1/roles', {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(params)
      })
      .then(res => res.json())
      .then(data => {
        console.log("New Role: ", data.role)
      })
      .catch(err => console.log(err))
    },

    async deleteRole(role_id) {

      const params = {
        user_id: this.user_id,
        name: this.role_name
      }

      fetch(`/api/v1/roles/${role_id}`, {
        method: "DELETE",
      })
      .then(res => res.json())
      .then(data => {
        console.log("Role deleted: ", data)
      })
      .catch(err => console.log(err))
    },
  }
}
</script>